@page
@model WebRazor.Pages.Order.IndexModel
@{
    ViewData["PageTitle"] = "All Orders";
}
<div id="content-left">
    <h3 style="font-weight: normal;">@ViewData["custName"]</h3>
    <h3>Account Management</h3>
    <ul>
        <a href="/Account/Profile">
        <li>Personal information</li></a>
    </ul>
    <h3>My order</h3>
    <ul>
        <a href="~/Order">
        <li>All orders</li></a>
    </ul>
</div>
<div id="content-right">
    <div class="path">LIST ORDERS</div>
    <div class="content-main">
        <div id="profile-content-order">
            @foreach(var order in Model.orderList){
                <div>
                    <div class="profile-order-title">
                        <div class="profile-order-title-left">
                            <div>Order creation date: @order.OrderDate</div>
                            <div>Order: <a href="#">#@order.OrderId</a></div>
                        </div>
                        <div class="profile-order-title-right">
                            <span><a href="~/Order/CancelOrder?id=@order.OrderId">Cancel order</a></span>
                        </div>
                    </div>

                    @foreach(var item in order.OrderDetails){
                        <div class="profile-order-content">
                            <div class="profile-order-content-col1">
                                <a href="~/Product/Detail/@item.ProductId"><img src="~/img/1.jpg" width="100%" /></a>
                            </div>
                            <div class="profile-order-content-col2">@item.Product.ProductName</div>
                            <div class="profile-order-content-col3">Quantity: @item.Quantity</div>
                            <div class="profile-order-content-col4">@item.UnitPrice $</div>
                        </div>
                    }

                </div>
            }

        </div>
    </div>
</div>
